.collapsiblecontainer {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.answer {
    display: none;
}

.collapsiblecontainer h2{
    text-align: center;
    margin: 20px;
}

.question {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    margin: 2px;
    margin-left: 20px;
}

.question:focus {
    text-align: left;
    font-weight: bold;
}
.question:focus .answer{
    display:block;
    font-weight: normal;
}


